


---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/Menu.astro";
import HeroHome from "../components/HeroHome.astro";
import Background from "../components/background.astro";


import '@fontsource/bellefair';
import '@fontsource/barlow-condensed/100.css';
import '@fontsource/barlow-condensed/400.css';
---

<Layout title="Space Tourism">
    <Menu/> 
    <Background src="home/background-home-mobile.jpg"/>
<main class="relative" >
  <HeroHome/>
</main>
</Layout>

