<section class="px-3 text-center mt-6  text-white z-10">
    <h5 class="text-BLUE-300  font-[Barlow-Condensed] text-base font-normal">
        SO, YOU WANT TO TRAVEL TO
      </h5>
     <h1 class="my-6 text-center text-white text-[80px] font-normal font-['Bellefair']">SPACE</h1>
     <p class="text-center text-[#d0d6f9] text-[15px] font-normal font-['Barlow'] leading-[27px]">
      Let’s face it; if you want to go to space, you might as well genuinely go to outer space and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a truly out of this world experience!
     </p>
     
     <!-- <a href="#" class="flex items-center justify-center relative w-40 h-40 bg-white text-black text-center rounded-full mx-auto mt-5  text-lg font-normal font-['Bellefair'] uppercase hover:text-gray-500 ">
      Explore
    </a> -->
    
    <div class="flex items-center justify-center w-60 h-60 hover:bg-[#aaaaaa1b]  rounded-full mx-auto">
          <a href="#" class="flex items-center justify-center relative w-40 h-40 bg-white text-black text-center rounded-full m-auto   text-lg font-normal font-['Bellefair'] uppercase hover:text-gray-500 ">
      Explore
    </a>
    </div>

    
    
</section>